In [36]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle

In [37]:
df = pd.read_csv('car_insurance.csv')

In [38]:
df

,age,number_of_tickets,number_of_accidents,maried,owns_car,years_licenced,covered
0,20,2,0,True,True,2,True
1,18,0,2,False,False,0,False
2,30,0,0,True,False,14,True
3,20,2,1,False,False,4,False
4,25,2,0,False,False,7,True
...,...,...,...,...,...,...,...
116,20,2,1,False,False,4,False
117,25,2,0,False,False,7,True
118,28,0,0,True,False,12,True
119,40,3,0,True,True,24,True
120,25,3,0,True,False,5,False

In [39]:
X = df.drop('covered', axis=1)
y = df['covered']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [40]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Predict on the test set
y_pred = clf.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [41]:
# Save the trained model from a file
with open('auto_insurance_model.pkl', 'wb') as file:
    pickle.dump(clf, file)